	
	body{
		margin:0;
		padding:0;
		font-family: "Open Sans", sans-serif;
	}

	h1.secon{
		text-align:center;
	}
	li{
		list-style-type:none;
	}
	a{
		text-decoration:none;
	}
ul.fir {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    color: #c0c0c0;
    height: 90px;
    font-size: 18px;
}
.six {
    background-color: #333;
}
ul.two {
    opacity: 0;
    background-color: #333;
    position: absolute;
    top: 236px;
    right: 812px;
    text-align: center;
    padding-left: 23px;
    padding-right: 20px;
	border-radius:5px;
	padding-bottom:15px;
	z-index:999;
}
ul.third{
	opacity:0;
}
li.menu {
    padding-top: 11px;
	font-size:16px;
}
li.menus{
    padding-top: 11px;
	font-size:16px;
}
ul.third {
    opacity: 0;
    position: absolute;
    background-color: #333;
    left: 173px;
    top: 99px;
    width: 153px;
    padding-right: 11px;
    padding-left: 19px;
	border-radius:5px;
}
li.menus:hover ul.third {
	opacity:1;
}
li.one:hover ul.two {
    opacity:1;
}
	.eleven {
    color: #fff;
    background-color: rgba(27, 27, 27, 0.75);
    position: absolute;
    width: 100%;
    top: 372px;
}
span.fourtheen {
    font-weight: bold;
    font-size: 25px;
}
p.stat{
    opacity: 0.75;
    font-size: 20px;
}
.twelve {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 10px;
    gap: 25px;
}
a.thirteen {
    background-color: #37c0fb;
    color: #fff;
    text-decoration: none;
    padding-block: 15px;
    padding-inline: 37px;
    font-weight: 600;
    border-radius: 5px;
}
a.twel {
    color: #fff;
    opacity: 0.75;
    text-decoration: none;
    border-color: rgba(255, 255, 255, 0.5);
    border-bottom: 1px dotted;
}
a.twel:hover {
    border-bottom: none;
    color: #37c0fb;
}
a.last {
    font-weight: 300;
    color: black;
}
h1.secon:hover {
    color: #37c0fb;
}
li.firs {
    color: #fff;
    font-weight: bolder;
}
.thirty {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 25px;
    justify-content: center;
    align-items: center;
	margin-top:5rem;
}
.fourty {
    text-align: center;
}
i.fa-regular.fa-paper-plane {
    background-color: #37c0fb;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    box-shadow: 0 0 0 7px white, 0 0 0 8px #e0e0e0;
    color: #fff;
    font-size: 40px;
}

i.fa-solid.fa-pencil{
	background-color: #37c0fb;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    box-shadow: 0 0 0 7px white, 0 0 0 8px #e0e0e0;
    color: #fff;
	font-size: 40px;}

i.fa-solid.fa-wrench{
	background-color: #37c0fb;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    box-shadow: 0 0 0 7px white, 0 0 0 8px #e0e0e0;
    color: #fff;
	font-size: 40px;}
	
	p.para {
    text-align: center;
    width: 84%;
    color: #474747;
    font-weight: 300;
	line-height:1.75;
}
.seventy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h3 {
    font-weight: 600;
}
.sixty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sixty {
    margin-top: 5rem;
}
p.para1 {
    padding-bottom: 4rem;
    font-size: 22px;
    color: #999;
}
h1 {
    color: #474747;
    font-size: 36px;
	padding-top:4rem;
}