	
	body{
		margin:0;
		padding:0;
		font-family: "Open Sans", sans-serif;
	}

	.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}
	h1.secon{
		text-align:center;
		padding-bottom:30px;
	}
	li{
		list-style-type:none;
	}
	a{
		text-decoration:none;
	}
ul.fir {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    color: #c0c0c0;
    height: 83px;
    font-size: 18px;
	margin:0;
}
.ww{
    background-color: #333;
    border-bottom: 15px solid #37c0fb;
}

ul.two {
    opacity: 0;
    background-color: #333;
    position: absolute;
    top: 198px;
    right: 839px;
    text-align: center;
    padding-left: 23px;
    padding-right: 20px;
    border-radius: 5px;
    padding-bottom: 15px;
    z-index: 999;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
ul.third{
	opacity:0;
}
li.menu {
    padding-top: 11px;
	font-size:14px;
}
li.menus{
    padding-top: 11px;
	font-size:16px;
}
ul.third {
    opacity: 0;
    position: absolute;
    background-color: #333;
    left: 156px;
    top: 76px;
    width: 153px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    padding-bottom: 29px;
    padding-top: 12px;
}
li.menus:hover ul.third {
	opacity:1;
}
li.one:hover ul.two {
    opacity:1;
}
.eleven {
    color: #fff;
    background-color: rgba(27, 27, 27, 0.75);
    position: absolute;
    top: 372px;
    width: 100%;
    left: 0;
    bottom: 0;
}
span.fourtheen {
    font-weight: bold;
    font-size: 25px;
}
p.stat{
    font-size: 20px;
}
.twelve {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 17px;
    gap: 25px;
}
a.thirteen {
    background-color: #37c0fb;
    color: #fff;
    text-decoration: none;
    padding-block: 15px;
    padding-inline: 37px;
    font-weight: 600;
    border-radius: 5px;
    background-image:url(images/box40.png);
}
a.twel {
    color: #fff;
    opacity: 0.75;
    text-decoration: none;
    border-color: rgba(255, 255, 255, 0.5);
    border-bottom: 1px dotted;
}
a.twel:hover {
    border-bottom: none;
    color: #37c0fb;
}
a.last {
    font-weight: 300;
    color: black;
}
h1.secon:hover {
    color: #37c0fb;
}
li.firs {
    color: #fff;
    font-weight: bolder;
}
.thirty {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-around;
    align-items: center;
	margin-top:5rem;
}
.fourty {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:21px;
}
i.fa-regular.fa-paper-plane {
    background-color: #37c0fb;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    box-shadow: 0 0 0 7px white, 0 0 0 8px #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 40px;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), url(images/box40.png);
}

i.fa-solid.fa-pencil{
	background-color: #37c0fb;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    box-shadow: 0 0 0 7px white, 0 0 0 8px #e0e0e0;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)),  url(images/box40.png);
    display:flex;
    justify-content:center;
    align-items:center;
    color: #fff;
	font-size: 40px;}

i.fa-solid.fa-wrench{
	background-color: #37c0fb;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    box-shadow: 0 0 0 7px white, 0 0 0 8px #e0e0e0;
    display:flex;
    justify-content:center;
    align-items:center;
    color: #fff;
	font-size: 40px;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)),  url(images/box40.png);
}
	
	p.para {
    text-align: center;
    width: 88%;
    color: #474747;
    font-weight: 300;
	line-height:1.75;
}

.seventy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h3 {
    font-weight: 600;
}
.sixty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sixty {
    margin-top: 5rem;
}
p.para1 {
    padding-bottom: 4rem;
    font-size: 27px;
    color: #999;
    letter-spacing: -0.025em;
    margin-top: 0;
}
h1 {
    color: #474747;
    font-size: 36px;
    text-align: center;
    font-size: 24px;
    padding-bottom: 2rem;
}
.box1 {
    display: flex;
    flex-direction: column;
}
.box{
	display:flex;
	gap:38px;
}
.box9 {
    display: flex;
    padding-top:25px;
}
h1.noth {
    position: relative;
    padding-top: 4rem;
    font-size: 37px;
    letter-spacing: -0.025em;
}
p.para2 {
    width: 89%;
    color: #474747;
    font-weight: 300;
    line-height: 1.75;
    padding-top:0;
    margin-top:0;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
}
li.menu:hover{
	color:#fff;
}
li.menus:hover{
	color:#fff;
}
li.menuss:hover{
	color:#fff;
}
li.box7:hover {
    color: #fff;
}
img {
    border-radius: 5px;
}
h4 {
    color: #474747;
    font-size: 22px;
    font-weight:600;
    padding-top:0;
    margin-top:0;
}
.box12 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-block: 3rem;
    font-size: 19px;
}
a.btn {
    background-color: #fff;
    padding-block: 11px;
    padding-inline: 34px;
    border-radius: 6px;
    color: #474747;
    font-weight:600;
    transition:background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}


a.btn:hover {
    color: #37c0fb !important;
}
.box14 {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content:space-between;
}
a.box21 {
    border-bottom: 1px solid #e0e0e0;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    color: #474747;
    margin-bottom: 10px;
    font-weight: 300;
}
li.list1 {
    line-height:2.5;
}
h3.last3 {
    color: #474747;
    margin-bottom:34px;
    letter-spacing:-0.025em;
}
a.box21:hover {
    color: #37c0fb;
    border-bottom: none;
}
input#email {
    height: 48px;
    width: 252px;
    border-radius:6px;
    border: solid 1px #e0e0e0;
    background-color: #fff;
    transition: border-color 0.2s ease-in-out;
    padding-left: 10px;
}
input#text {
    height: 48px;
    width: 252px;
    border-radius:6px;
    border: solid 1px #e0e0e0;
    background-color: #fff;
    transition: border-color 0.2s ease-in-out;
    padding-left: 10px;
}
textarea {
    margin-top: 18px;
    border-radius:6px;
    border: solid 1px #e0e0e0;
    background-color: #fff;
    transition: border-color 0.2s ease-in-out;
    padding-left: 10px;
    font-family: "Open Sans", sans-serif;
    font-size:17px;
    padding-top:11px;
}
button {
    background-color: #484848;
    color: #Fff;
    height: 52px;
    width: 172px;
    font-size: 16px;
    border-radius: 6px;
    margin-top: 10px;
    font-weight: 600;
}
.box13 {
    margin-top: 3rem;
}
ul.box32 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 35px;
}
i.fa-brands.fa-twitter {
    color: #999;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
i.fa-brands.fa-facebook-f {
    color: #999;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
}
i.fa-brands.fa-facebook-f:hover{
    color:#474747;
}
i.fa-brands.fa-github {
    color: #999;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
}
i.fa-brands.fa-github:hover{
     color:#474747;
}
i.fa-brands.fa-github {
    color: #999;

}
i.fa-brands.fa-google-plus-g {
    color: #999;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
}
i.fa-brands.fa-google-plus-g:hover{
color:#474747;
}

i.fa-brands.fa-twitter:hover{
    color:#474747;
}
i.fa-brands.fa-linkedin-in {
    color: #999;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
}
i.fa-brands.fa-linkedin-in:hover{
    color:#474747;
}
ul.box34 {
    display: flex;
    justify-content: center;
    gap: 24px;
    font-size: 14px;
    color: #999;
}
a.vhh {
    color: #999;
    border-bottom: 1px solid rgba(71, 71, 71, 0.25);
}
a.vhh:hover {
    color: #37c0fb;
    border: none;
}
a.hund {
    color: #c0c0c0;
    font-weight:300;
}
a.hund:hover {
    color: #fff;
    font-weight:300;
}
a.thirteen:hover {
    background-color: #50c8fc;
}
a.bb {
    color: #fff;
}
input#text:focus {
    border: 1px solid #37c0fb;
    outline: none;
}
input#email:focus {
    border: 1px solid #37c0fb;
    outline: none;
}
textarea:focus {
    border: 1px solid #37c0fb;
    outline: none;
}
input#text::placeholder{
    font-size:17px;
    color:#e0e0e0;

}
input#email::placeholder{
    font-size:17px;
    color:#e0e0e0;

}
textarea::placeholder{
     color:#e0e0e0;
}
.box41 {
    display: flex;
    gap: 20px;
}
.box31 {
    padding-top: 3rem;
}
.box13 {
    background: #f7f7f7 url(images/box55.png);
    margin: 0;
    padding-top: 3rem;
}
.box33 {
    padding-bottom: 10rem;
}
a.last:hover {
    color: #37c0fb;
}
span.nen {
    font-weight: 700;
    color: #474747;
}
span.nen:hover {
    color: #37c0fb;
}
li.th::after {
    content: " ";
    background-color: #e0e0e0;
    height: 30px;
    position: absolute;
    left: 201px;
    top: -4px;
    width: 1px;
    borer: 1px solid;
}
li.th{
    position:relative;
}
li.thh {
    position: relative;
}
li.thh::after {
    content: "";
    background-color: #e0e0e0;
    height: 30px;
    position: absolute;
    left: 134px;
    top: -4px;
    width: 1px;
    borer: 1px solid;
}
a.btnn {
    color: #fff;
}
a.hundr {
    color: #c0c0c0;
    font-size:14px;
}
a.hundr:hover{
    color:#fff;
}
ul {
    padding-left: 0;
}
button:hover {
    background-color: #626262;
}
h1.noth::after {
    position: absolute;
    content: "";
    width: 1083px;
    height: 1px;
    top: 138px;
    bottom: 5px;
    background-color: #e0e0e0;
    right: -163px;
}
span.hk {
    opacity: 0.75;
}